body{
    color: #000000;
}
button:focus, input[type="text"], select, input[type="email"],input[type="date"]{
    outline: none !important;
}
.project-name{
    background-color: #FBE5D6;  
}
.project-name h3{
    line-height: 40px;
    margin: 4px auto;
    text-align: center;
}
.nav-menu{
    background-color: #FFF2CC;
}
.nav-menu .nav-right{
    margin-top: 5px;
}
.content h1{
    margin: 1em 0;
}
.menu-left{
    border-right: 1px solid gray;
}
.btn-search{
    padding-left: 30px !important;
    padding-right: 30px !important;
    background-color: #FFF2CC;
}
.btn-regrister{
    background-color: #e2f0d9;
    padding: 5px 30px !important;
}
.btn-edit, .btn-delete{
    padding: 5px 15px !important;
}
.btn-delete,.btn-edit, .btn-regrister, .btn-search{
    border: 1px solid #b3bcc5 !important;
}
.custom-select {
   background: url(../images/down.png) no-repeat right #ffffff !important;
}
.form-search{
    border-right: 1px solid gray;
}
.custom-table{
    border-collapse: collapse;
    margin-bottom: 3em !important;
}
.custom-table tr{
    background-color: #fcfdee;
    color: #000000;
}
.custom-table  > thead > tr > th{
    background-color: rgb(119, 116, 116);
    color: #ffffff;
}
.custom-table  > tbody > tr:nth-child(1), .custom-table  > tbody > tr:nth-child(2){
    background-color: #ffffff;
}
.custom-table tr th, .custom-table tr td{
    text-align: center;
    font-size: 13px;
    line-height: 18px;
}
.custom-table, tr, th, td {
    border: 1px solid black;
}
.custom-table tr td button{
    margin-top: 20px;
}
input[type=text], input[type=email], input[type=date]{
    width: 100%;
}
input[type=date]{
    border: 1px solid #b3bcc5;
}
.custom-table .th-phone{
    width: 12%;
}
.custom-table .th-status{
    width: 15%;
}
.custom-table  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid#000000;
}