body{
    color: #000000;
}
button:focus, input[type="text"]:focus, select:focus, input[type="email"]:focus, input[type="date"]:focus{
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}
input[type="radio"]{
    margin: 12% 0;
}
.project-name{
    background-color: #FBE5D6;  
}
.project-name p{
    line-height: 40px;
    margin: 4px auto;
    text-align: center;
}
.nav-menu{
    background-color: #FFF2CC;
}
.nav-menu .nav-right{
    margin-top: 5px;
}
.content h3{
    margin: 10px 0;
}
.menu-left{
    border-right: 1px solid gray;
}
/* .btn-search{
    padding-left: 30px !important;
    padding-right: 30px !important;
    background-color: #FFF2CC;
} */
.btn-edit, .btn-delete, .btn-save{
    padding: 5px 15px !important;
}
.btn-delete,.btn-edit, .btn-regrister{
    border: 1px solid #b3bcc5 !important;
}
.custom-select {
   background: url(../images/down.png) no-repeat right #ffffff !important;
}
.form-search{
    border-right: 1px solid gray;
}
.sidenav p {
    margin-bottom: 0;
}
